<p id='notice'><%= notice %></p>
<a href='/'>Home</a>

<%= simple_form_for :search, url: root_path, method: 'GET' do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :quality, as: :boolean, input_html: { value: params[:quality] } %>
  <%= f.input :voice, as: :boolean, input_html: { value: params[:voice] } %>
  <%= submit_tag 'Search' %>
<% end %>

<h1>Movies</h1>

<table>
  <tbody>
    <tr>
      <th>Titlle</th>
      <th>Content</th>
      <th>Age</th>
      <th>Category</th>
      <th>Quality</th>
      <th>Voice</th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
          <td><%= movie.title %></td>
          <td><%= movie.content %></td>
          <td><%= movie.age %></td>
          <td><%= movie.category %></td>
          <td><%= movie.quality %></td>
          <td><%= movie.voice %></td>
      </tr>
    <% end %>
  </tbody>
</table>



