<h1>Search</h1>

<%= form_for @search, html: { class: "pure-form" } do |s| %>
  
  <div class="field">
    <%= s.label :keywords %>
    <%= s.text_field :keywords %>
  </div>
  <br/>

  <div class="field">
    <%= s.label :category %>
    <%= s.select :category, options_for_select(@categories), :include_blank => true %>
  </div>
  <br/>

  <div class="field">
    <%= s.label :age %><%= s.text_field :age, size: 10 %>
  </div>
  <br/>

  <div class="field">
    <%= s.label :quality %>
    <%= s.text_field :quality %>
  </div>
  <br/>

  <div class="field">
    <%= s.label :voice %>
    <%= s.text_field :voice %>
  </div>

  <div class="actions"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>

<% end %>

